<ion-view>
  <ion-nav-title>Détails</ion-nav-title>
  <ion-content padding="true">
    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">
      <h3>{{event.name}}</h3>
      <h4><b>{{event.city}}</b></h4>
      <br>

      <div class="text-center">
        <img ng-src="{{event.image}}" class="image">
      </div>

      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Adresse</b> <i class="icon ion-location"></i></ion-item>
        <ion-item>
          {{event.number}} {{event.street}}<br>
          {{event.zip}} {{event.city}}
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Heures d'ouverture</b> <i class="icon ion-ios-calendar-outline"></i></ion-item>
        <ion-item ng-repeat="date in event.dates">
          {{date}}
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Contacter</b> <i class="icon ion-chatboxes"></i></ion-item>
        <ion-item class="item-icon-right" ng-click="call()">
          Téléphoner nous
          <i class="icon ion-android-call"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-click="mail()">
          Envoyer nous un courriel
          <i class="icon ion-ios-email"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-click="website()">
          Visiter notre site web
          <i class="icon ion-ios-home"></i>
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Avis</b> <i class="icon ion-ios-star"></i></ion-item>
        <ion-item ng-repeat="rating in event.ratings" style="white-space: normal;">
          <b>{{rating.name}}</b>
          <br />
          <i class="icon" ng-class="isFullStar(rating.rate, i) ? 'ion-ios-star' : 'ion-ios-star-outline'" ng-repeat="i in [1, 2, 3, 4, 5] track by $index"></i>
          {{rating.comment}}
        </ion-item>
        <ion-item ng-click="openRatingModal()"><b>DONNER VOTRE AVIS!</b></ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
    </div>
  </ion-footer-bar>
</ion-view>
