<ion-list ng-click="hideOverlayDicover()" >
  <button class="button icon-left ion-android-camera button-full button-posit$

  <!--<button class="button icon-left ion-android-camera button-full button-positive"></button>-->
  <ion-item ui-sref="detail({id: baseEvent.id})" class="item-royal item-avatar item-icon-right">
    <img ng-src="{{baseEvent.thumb}}">
    <h2>Tu te sens bien ?</h2>
    <p>
      <b>Essaye quelque chose de nouveau ?</b><br>
      Comme le skydiving?
    </p>
    <i class="icon ion-ios-arrow-right"></i>
  </ion-item>
  <ion-item ui-sref="detail({id: baseEvent.id})" class="item-royal item-avatar item-icon-right">
    <img ng-src="{{baseEvent.thumb}}">
    <h2>Tu veux t'amuser?</h2>
    <p>
      <b>On te suggère de...</b><br>
      Aller à la picine!
    </p>
    <i class="icon ion-ios-arrow-right"></i>
  </ion-item>
  <ion-item ui-sref="detail({id: baseEvent.id})" class="item-royal item-avatar item-icon-right">
    <img ng-src="{{baseEvent.thumb}}">
    <h2>Tu veux relaxer ?</h2>
    <p>
      <b>Prend un choix plus safe!</b><br>
      Comme rester sur ton sofa...
    </p>
    <i class="icon ion-ios-arrow-right"></i>
  </ion-item>
</ion-list>
