<div class="list" ng-click="hideOverlayDicover()" >
  <!--<button class="button icon-left ion-android-camera button-full button-positive"></button>-->
  <ion-item ui-sref="detail({id: baseEvent.id})" class="item-royal item-avatar item-icon-right">
    <img ng-src="{{baseEvent.thumb}}">
    <h2>You're feeling well ?</h2>
    <p>
      <b>Try something new ?</b><br>
      Like skydiving ?
    </p>
    <i class="icon ion-ios-arrow-right"></i>
  </ion-item>
  <ion-item ui-sref="detail({id: baseEvent.id})" class="item-royal item-avatar item-icon-right">
    <img ng-src="{{baseEvent.thumb}}">
    <h2>Want to chill ?</h2>
    <p>
      <b>We suggest you to...</b><br>
      Go to the pool !
    </p>
    <i class="icon ion-ios-arrow-right"></i>
  </ion-item>
  <ion-item ui-sref="detail({id: baseEvent.id})" class="item-royal item-avatar item-icon-right">
    <img ng-src="{{baseEvent.thumb}}">
    <h2>You need to relax ?</h2>
    <p>
      <b>Take a safer choice</b><br>
      Like staying on your sofa...
    </p>
    <i class="icon ion-ios-arrow-right"></i>
  </ion-item>
</div>
