.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.row.discover{
  position: absolute!important;
  margin-left: 5%;
  margin-top: 15%;
  z-index: 999;
  width: 90%;
  /*transition: visibility 0.2s;*/
  /*
  float: left;*/
}

.row.discover .col{
  height: 20px;
}

.row.discover button{
  height: 60px;
  padding: 5px;
  font-size: 200%;
}


.row.discover button.displayDiscover{
  margin-left: 15px;
  height: 15px;
  width: 15px;
}
/*

#payContent{
  margin-top: 80px;
}
*/

.loading{
  background-color: rgba(0, 0, 0, 0)!important;
}

.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

.box-one {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.box-one.ng-show {
  opacity:0;
}

.animated.ng-enter, .animated.ng-leave{
  animation-duration:1s;
  animation-fill-mode:both;
}
.roll.ng-enter{ animation-name: rollIn; }
.roll.ng-leave{ animation-name: rollOut; }

.fade.ng-enter{ animation-name: fadeIn; }
.fade.ng-leave{ animation-name: fadeOut; }
