/* Empty. Add your own CSS if you like */

.row.discover{
  position: absolute!important;
  margin-left: 5%;
  margin-top: 15%;
  z-index: 999;
  width: 90%;
  /*transition: visibility 0.2s;*/
  /*
  float: left;*/
}

.row.discover .col{
  height: 20px;
}

.row.discover button{
  height: 60px;
  padding: 5px;
  font-size: 200%;
}


.row.discover button.displayDiscover{
  margin-left: 15px;
  height: 15px;
  width: 15px;
}
